html {
  margin: 0;
  font-size: 10px;
  font-family: $main-typo;
}

body {
  background: $white
}

ul, li {
  padding: 0px;
}


.wrapper {
  width: $wrapper;
  margin: 0 auto;

  @media (min-width: 1080px) {
   width: $desktop-wrapper;
  }
}
