// Colors

$white: #78D8E8;
$blue-main: #3323C4;
$turquois: #78D8E8;
$yellow: #FBC100;
$pink: #F93283;
$purple: #AC13AF;
$lila: #7660F8;

// Typography

$size: 1rem;

$typo-xs: $size;
$typo-s: $size * 1.5;
$typo-m: $size * 2;
$typo-l: $size * 2.5;
$typo-x: $size * 3;

// wrapper

$wrapper: $size * 41.5;
$desktop-wrapper: $size * 60;
